
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merienda:wght@300..900&display=swap');


{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background: url(wp6700662.jpg);
    background-size: cover;
    font-family: fantasy;
    
    
}
nav{
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name{
    font-size: 2em;
    background: url(axe-lilliana-didovic.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-emphasis-style: bold;
}
.menu{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-style: normal;
    padding: 20px 10px;
    text-align: left;

}
.menu a:hover{
    border: 1px solid  rgba(60, 178, 217, 0.956);
    background: transparent;
}
.contact{
    text-decoration:none;
    font-size: 20px;
    letter-spacing: 2px;
    font-style: normal;
    padding: 20px 10px;
    border-radius: 8px;
    background-color: rgb(193, 200, 200);
    transition: 0.3s;
}
.contact a:hover{
    border: 1px solid  cadetblue);
    background: transparent;
}
.cmnt{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: fit-content;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.cmnt span{
    letter-spacing: 3px;
    color:rgb(210, 21, 21);
}
.cmnt h1{
font-size: 1cm;
color: palevioletred;
}
.cmnt a{
    text-decoration: none;
    letter-spacing: 2px;
    font-style: normal;
    padding: 20px 10px;
    border-radius: 8px;
    background-color: cadetblue;
    transition: 0.2s;
}
.cmnt a:hover{
    border: 1px solid  cadetblue);
    background: transparent;
}


